<!-- <header class="header__header">
    <div class="header__wrapper header__wrapper--alubumsdetails">
    <i class="fas fa-chevron-left"></i>
    <p class="Header__p-details">Text</p>
    </div>
</header>
<img class="header__albumsdetails" src="/assets/images/feature2.jpg" alt=""> -->
<article class="topbox">
    <section class="header_section">
       
        <h2 class="header_h2">Album</h2>
        
      </section>
      <h2 class="album_h2">Old Town Road</h2>
          <h4 class="album_h4">12 Songs</h4>
              <p class="album_genre__p"> Genres hashtags</p>
          <section class="albumtags_section">
              <div class="albumtags_cell">
                  <h4 class="albumtags_h4">#country</h4>
              </div>
              <div class="albumtags_cell">
                  <h4 class="albumtags_h4">#country road</h4>
              </div>
          </section>
  </article>