<footer>
    <a href="/artist.html">
        <i class="fas fa-heartbeat"></i>
    </a>

    <a href="/albums.html">
        <i class="fas fa-microphone-alt"></i>
    </a>

    <a href="/frontpage.html">
        <i class="fas fa-music"></i>
    </a>


    <i class="fas fa-adjust" id="lightdark" onclick="toggleDarkLight()"></i>

<a href="/playlist.html">
    <i class="fas fa-cog"></i>
</a>
</footer>