<footer>
    <a href="/artist.html">
        <i class="fas fa-heartbeat"></i>
    </a>

    <a href="/albums.html">
        <i class="fas fa-microphone-alt"></i>
    </a>

    <a href="/index.html">
        <i class="fas fa-music"></i>
    </a>

    <i class="fas fa-adjust"></i>
    <i class="fas fa-cog"></i>
</footer>