<header class="header__header">
    <div class="header__wrapper">
    <i class="fas fa-chevron-left" id="iconwhite1"></i>
    <p class="Header__p">text</p>
    <i class="fas fa-search" id="iconwhite2"></i>
    </div>
</header>