<%- include('../partials/html'); %>
<%- include('../partials/head'); %>

<style>
    body {
        background: #000;
        margin: 0;
        height: 100vh;
        width: 100vw;
    }
</style>
<iframe src="./index_real.html" class="frame" frameborder="0"></iframe>
</body>
</html>