.section__h1{
  background: -webkit-radial-gradient(#FF6A00,#EE0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 5%;
  font-size: 2em;
}
.featuresection__img{
  border-radius: 10px;
  margin-bottom: 2em;
}
.featureimg__wrapper{
  display: flex;
  justify-content: center;
  position: relative;
}
