#iconwhite1{
  color: #FFFFFF;
}
#iconwhite2{
  color: #FFFFFF;
}
$dark-color: #341931;
$light-color: #FFFFFF;

.frame {
  width: 360px;
  height: 640px;
  border: none;         /* Reset default border */
}


@media (max-width: 415px) and (max-height: 825px) {
  .frame {
    display: block;       /* iframes are inline by default */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
  }
}


.dark-mode {
  background-color: $dark-color;

  p{
    color: $light-color;
  }
  h1{
    color: $light-color;
  }
  h2{
    color: $light-color;
  }
  h3{
    color: $light-color;
  }
  h4{
    color: $light-color;
  }
  figcaption{
    color: $light-color;
  }
  footer{
    background-color: $dark-color;
  }

}

.light-mode {
  background-color: $light-color;
  p{
    color: $dark-color;

  }
  h1{
    color: $dark-color;
  }
  h2{
    color: $dark-color;
  }
  h3{
    color: $dark-color;
  }
  h4{
    color: $dark-color;
  }
  figcaption{
    color: $dark-color;
  }
  footer{
    background-color: $light-color;
  }
  #iconwhite1{
    color: $dark-color;
  }
  #iconwhite2{
    color: $dark-color;
  }
}



