$dark-color: #341931;
$light-color: #FFFFFF;

.dark-mode {
  background-color: $dark-color;
  color: $light-color;
}

.light-mode {
  background-color: $light-color;
  color: $dark-color;
 
}
img{
    width: 100px;
}


