.section__h1 {
  background: -webkit-radial-gradient(#FF6A00, #EE0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 5%;
  font-size: 2em; }

.section__p-wrapper {
  display: flex;
  justify-content: space-between; }

.section__p {
  color: white; }

.section__p2 {
  color: #FF1168; }

.artistsection__img {
  width: 300px; }

.figure__h3 {
  position: absolute;
  right: 50%;
  top: 50%;
  font-size: 15px;
  color: white; }

.figure__h2 {
  position: absolute;
  right: 50%;
  top: 60%;
  font-size: 20px;
  color: #FF1168;
  font-weight: bold; }

.artistimg__wrapper {
  height: 200px;
  width: 100%;
  display: flex;
  overflow-y: scroll;
  direction: ltr;
  margin: auto; }

.artistimg__1 {
  border-radius: 50%;
  margin: 0.455em;
  width: 4em;
  height: 4em; }

.green {
  width: 155px;
  height: 155px;
  background: -webkit-linear-gradient(#3A7634, #5EB11C);
  -webkit-background-clip: content-box;
  border-radius: 0.3em; }

.blue {
  width: 155px;
  height: 155px;
  background: -webkit-linear-gradient(#115793, #00A1CB);
  -webkit-background-clip: content-box;
  margin-bottom: 50px;
  border-radius: 0.3em; }

.artistimg__wrapper2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-y: scroll;
  margin: auto;
  position: relative; }

figure {
  margin: 0px; }

.artistfigcaption_text {
  color: white;
  font-size: 15px; }

.artistfigure__wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto; }

.artistblue__div-h2 {
  font-weight: bold;
  padding-top: 45px;
  text-align: center; }

.artistgreen__div-h2 {
  font-weight: bold;
  padding-top: 45px;
  text-align: center; }

.artistdiv-p {
  text-align: center; }
